        </main>
        <footer class="page-footer">
            <div class="footer-copyright">
                <center>&copy; Allan Uriel Rodríguez Godínez | A01205325</center>
            </div>
        </footer>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type = "text/javascript" src="L20_javaScript.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    </body>
</html>