<?php include_once("_header.html"); ?>
<div class="container">
    <div class="section">
        <h4>Congruencia de Zeller</h4>
        <blockquote><strong>La Congruencia de Zeller</strong> es un algoritmo ideado por <strong>Julius Christian Johannes Zeller</strong> para calcular el día de la semana de cualquier fecha del calendario.</blockquote>
        <p>A continuación, introduce tu nombre y la fecha que desees conocer y presiona <em>'Enviar'</em> (con el <em>nombre</em> y la <em>fecha</em> se cumple con las 2 operaciones en el servicio):<br><strong>Nota</strong>: Se consideran meses de 28, 30 y 31 días, por lo que los Años Bisiestos no están contemplados.</p>
        <?php include("_form.html"); ?>
        <h5>Fórmula Utilizada</h5>
        <p>Para el <em>Calendario Gregoriano</em> la Congruencia de Zeller es:</p>
        <div class="center-align">
            <img class="responsive-img" src="zeller.png">
        </div>
        <ul class="collection">
            <li class="collection-item"><i class="material-icons">label</i> 'h' es el día de la semana (0 = domingo, 1 = lunes,...)</li>
            <li class="collection-item"><i class="material-icons">label</i> 'q' es el día del mes</li>
            <li class="collection-item"><i class="material-icons">label</i> 'm' es el mes</li>
            <li class="collection-item"><i class="material-icons">label</i> 'J' es el año entre 100</li>
            <li class="collection-item"><i class="material-icons">label</i> 'K' es el año mod 100</li>
        </ul>
    </div>
</div>
<?php include_once("_footer.html"); ?>