<?php include_once("_header.html"); ?>
<div class="container">
    <div class="row">
        <div class="col l4 offset-l4">
            <div class="card blue-grey darken-1 center-align" id="cardResult">
                <div class="card-content white-text">
                    <span class="card-title" style="color:orange;font-weight:bold;"><?php echo $nombre; ?></span>
                    <p>El día de la semana correspondiente a la fecha <span style="font-weight:bold;font-size: 120%;"><?php echo $d." de ".$m." de ".$y; ?></span> es: <span style="font-weight:bold;font-size: 150%;"><?php echo $zeller; ?></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<?php include_once("_footer.html")?>