<div class="row">
    <form action="L10_upload.php" method="POST" enctype="multipart/form-data" class="col l12">
        <div class="row">
            <div class="input-field col l10">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>File</span>
                    <input type="file" name="fileToUpload" id="fileToUpload">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" name="fileToUpload" id="fileToUpload2">
                  </div>
                </div>
            </div>
            <div class="col l10">
                <br>
                <button type="submit" class="btn waves-effect waves-light" value="Enviar" name="submit">Enviar
                    <i class="material-icons right">send</i>
                </button>
            </div>            
        </div>
    </form>
</div>