<?php include_once("_header.html"); ?>
<div class="container">    
    <div class="section scrollspy">
        <h1><i class="medium material-icons prefix">supervisor_account</i> Bienvenido</h1>
        <div class="section">
            <div class="row">
                <form action="index.php" method="POST" class="col l12">
                    <div class="input-field col l10">
                        <input type="text" placeholder="Nombre" name="nombre" maxlength="5">
                        <label>Usuario</label>
                    </div>
                    <div class="input-field col l10">
                      <input type="password" placeholder="123" name="contrasena" maxlength="3">
                      <label>Password</label>
                    </div>
                    <div class="col l12">
                        <br>
                        <button type="submit" class="btn waves-effect waves-light" name="submit">Login
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
                <div class="col l6 push-l3">
                    <div class="card-panel light-blue darken-1">
                      <span class="white-text">"La presente página te permite conocer el <strong>día de la semana de tu cumpleaños</strong>, además de poder <strong>agregar una imagen</strong>.<br>Tu nombre de usuario puede ser de <strong>máximo 5 caracteres</strong>.<br>Debes validar que no eres un robot (o algo parecido) introduciendo la contraseña de alta seguridad <strong>123</strong>."
                      </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php include_once("_footer.html"); ?>