<?php include_once("_header.html"); ?>
<div class="container">    
    <div class="section scrollspy">
        <h3><i class="small material-icons prefix">perm_identity</i> ¡Hola <?php echo $_SESSION["nombre"]?>!</h3>
        <div class="section">            
            <h5><i class="small material-icons prefix">perm_media</i> Cargar una Imagen</h5>
            <blockquote>Sube una imagen de tu agrado.</blockquote>
            <p><strong>Nota</strong>: Primero sube la imagen que desees y posteriormente continua con la sección de conocer tu cumpleaños, de esta manera se desplegará el día de tu cumpleaños junto con la imagen que has cargado. Hazlo en ese orden!</p>
            <?php include("_formImage.html"); ?>
        </div>    
        <div class="section">            
            <blockquote>Conoce tu cumpleaños con ayuda de la <strong>Congruencia de Zeller</strong>.</blockquote>            
            <p><strong>Instrucción:</strong> A continuación introduce la fecha de tu cumpleaños y presiona 'Enviar':<br><strong>Nota</strong>: Se consideran meses de 28, 30 y 31 días, por lo que si naciste en Año Bisiesto cierra sesión inmediatamente.</p>
            <?php include("_formZeller.html"); ?>
            <h5>Fórmula Utilizada</h5>
            <p><strong>Un poco de Historia:</strong> El calendario gregoriano es un calendario originario de Europa, actualmente utilizado de manera oficial en casi todo el mundo. Así denominado por ser su promotor el papa Gregorio XIII, vino a sustituir en <strong>1582</strong> al calendario juliano, utilizado desde que Julio César lo instaurara en el año 46 a. C.<br><br> Para el calendario gregoriano la Congruencia de Zeller es:</p>
            <img class="responsive-img" src="zeller.png">
            <ul class="collection">
                <li class="collection-item">'h' es el día de la semana (0 = domingo, 1 = lunes,...)</li>
                <li class="collection-item">'q' es el día del mes</li>
                <li class="collection-item">'m' es el mes</li>
                <li class="collection-item">'J' es el año entre 100</li>
                <li class="collection-item">'K' es el año mod 100</li>
            </ul>            
        </div>        
    </div>
</div>
<?php include_once("_footer.html"); ?>