<?php include_once("_headerAux.html"); ?>
<div class="container">
    <div class="section scrollspy">
        <div class="section">
            <div class="row">
              <div class="col l3 push-l4">
                <div class="card-panel orange accent-2">
                  <span class="white-text">Tu cumpleaños es un: <strong><?php echo $z; ?></strong>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col l10 push-l2">                  
                  <?php if (isset($_SESSION["imageFile"])) {
                            echo'<img class="materialboxed" src="'.$_SESSION["imageFile"].'">';
                        } else
                            echo "¡¡ NO SUBISTE UNA IMAGEN !!";
                  ?>
              </div>
            </div>                        
        </div>
    </div>
</div>
<?php include_once("_footer.html")?>