<?php require_once('L11_util.php'); ?>
<?php include_once("_header.html"); ?>
<div class="container">    
    <div class="section scrollspy">        
        <div class="section">
            <h4><i class="small material-icons prefix">view_headline</i> Todos los Objetos de la Base de Datos</h4>
            <blockquote>La base de datos utilizada fue creada en <strong>MySQL</strong>, tiene el nombre de <strong>Productos</strong> y contiene la tabla <strong>Frutas</strong>.</blockquote>
            <?php getFruits();?>
        </div>
        <div class="section">
            <h4><i class="small material-icons prefix">subject</i> Consulta Uno</h4>
            <blockquote>Esta consulta selecciona las frutas con el nombre de <strong>Kiwi</strong>.</blockquote>
            <?php getFruitsByName("Kiwi");?>
        </div>
        <div class="section">
            <h4><i class="small material-icons prefix">subject</i> Consulta Dos</h4>
            <blockquote>Esta consulta selecciona las frutas provenientes de <strong>México</strong> y <strong>Nueva Zelenda</strong>.</blockquote>
            <?php getFruitsByCountries("Mexico", "Nueva_Zelanda");?>
        </div>
        <div class="section">
            <h4><i class="small material-icons prefix">subject</i> Consulta Tres</h4>
            <blockquote>Esta consulta selecciona las frutas con un precio mayor o igual a <strong>20</strong> y menor o igual a <strong>30</strong>.</blockquote>
            <?php getFruitsByPrice(20, 30);?>
        </div>
    </div>
</div>
<?php include_once("_footer.html"); ?>