        </main>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l5 push-l9"><span class="white-text flow-text">©Allan Uriel Rodríguez Godínez | A01205325</span></div>                 
                </div>
            </div>
        </footer>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    </body>
</html>