<?php include_once("_header.html"); ?>
<div class="container">
    <div class="section scrollspy">
        <div class="section" id="POne">
            <h4>Congruencia de Zeller</h4>
            <blockquote>La congruencia de Zeller es un algoritmo ideado por Julius Christian Johannes Zeller para calcular el día de la semana de cualquier fecha del calendario.</blockquote>            
            <p>A continuación, introduce la fecha que desees conocer y presiona 'Enviar':<br>Nota: Se consideran meses de 28, 30 y 31 días, por lo que los Años Bisiestos no están contemplados.</p>
            <?php include("_form.html"); ?>
            <h5>Fórmula Utilizada</h5>
            <p>Para el calendario gregoriano la congruencia de Zeller es:</p>
            <img class="responsive-img" src="zeller.png">
            <ul class="collection">
                <li class="collection-item">'h' es el día de la semana (0 = domingo, 1 = lunes,...)</li>
                <li class="collection-item">'q' es el día del mes</li>
                <li class="collection-item">'m' es el mes</li>
                <li class="collection-item">'J' es el año entre 100</li>
                <li class="collection-item">'K' es el año mod 100</li>
            </ul>
        </div>
    </div>
    <div class="section scrollspy">
        <div class="section" id="Questions">
            <h4>Preguntas Teóricas</h4>
            <dl>
                <dt>1. ¿Por qué es una buena práctica separar el controlador de la vista?</dt>
                    <dd>El Model-View-Control (MVC), originalmente formulado a finales de los 70's, es un patrón de arquitectura de software diseñado sobre la base de mantener separada la presentación de los datos de los métodos que interactúan con estos. En teoría, un sistema MVC bien desarrollado permite tanto a un desarrollador front-end como a ún desarrollador back-end trabajar en el mismo sistema sin interferencia, compartición o edición de datos de cualquiera de las partes. Este patrón de arquitectura se encuentra separado en tres partes fundamentales: Modelo, Vista y Controlador.<br>El Modelo se encarga del permanente almacenaje de los datos usados en el diseño en general. Este debe permitir el acceso a los datos para ser visualizados, recolectados y sobre-escritos. Este es el puente entre la Vista y el Controlador<br>La Vista es donde los datos, solicitados por el Modelo, son visualizados y su salida final se determina.<br>El Controlador tiene la función de manipular los datos que el usuario introduce, además de actualizarlos en el Modelo.<br>
                    <img class="responsive-img" src="MVC.png"></dd>                
                <dt>2. Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</dt>
                    <dd>$GLOBALS: Es una variable super global que permite el acceso a variables globales desde cualquier parte del script de PHP (tanto funciones como métodos).<br>$_SERVER: Es una variables super global que guarda información relacionada a los headers, paths, y ubicaciones de scripts.<br>$_REQUEST: Esta permite recolectar datos después de presentar una forma HTML.<br>$_FILES: Es una variables tipo array asociativo de elementos cargados al script actual a través del método POST.<br>$_ENV: Una variable de tipo array asociativo de variables pasadas al script actual a través del método entorno.<br>$_COOKIE: Una variable tipo array asociativo de variables pasadas al script actual a través de Cookies HTTP.<br>$_SESSION: Es un array asociativo que contiene variables de sesión disponibles para el script actual.</dd>
                <dt>3. Explora las funciones de php, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención.</dt>
                    <dd>1. Manipulación de Formatos de Audio<br>El formato de archivo OGG / Vorbis, es un esquema para la compresión de señales de audio de múltiples factores con un mínimo de pérdida de calidad. Esta extensión añade soporte para Ogg Vorbis URL Wrappers de PHP. Cuando se utiliza en modo de lectura, los datos / OGG Vorbis comprimidos se expanden para obtener audio PCM en bruto en uno de los seis formatos de codificación PCM.<br>2. Función crypt()<br>Devuelve una cadena unidiraccional de hash utilizando el algoritmo basado en el estándar Unix DES o algoritmos alternativos que pueden estar disponibles en el sistema.</dd>
            </dl>
        </div>
        <div class="section" id="References">
            <h5>Referencias</h5>
            <ul>                
                <li>[1] Wikipedia (s.f.). Congruencia de Zeller. Recuperado de <a href="https://es.wikipedia.org/wiki/Congruencia_de_Zeller">Wikipedia.com</a></li>
                <li>[2] Materialize (s.f.). Material Design. Recuperado de <a href="http://materializecss.com/about.html">MaterializeCSS.com</a></li>
                <li>[3] PHP (s.f.). PHP Manual. Recuperado de <a href="http://php.net/manual/en/">PHP.net</a></li>
                <li>[4] SitePoint (s.f.). The MVC Pattern and PHP, Part 1. Recuperado de <a href="http://www.sitepoint.com/the-mvc-pattern-and-php-1/">SitePoint.com</a></li>
                <li>[5] W3Schools (s.f.). PHP Tutorial. Recuperado de <a href="http://www.w3schools.com/php/default.asp">W3Schools.com</a></li>
            </ul>
        </div>
    </div>
</div>
<?php include_once("_footer.html"); ?>