<?php include_once("_header.html"); ?>
<div class="container">
    <div class="section scrollspy">
        <div class="section">
            <p>El día de la semana correspondiente a la fecha <?php echo $d." de ".$mes." de ".$y." es: "; ?><strong><?php echo $z; ?></strong></p>
            <div class="right">
                <a href="index.php">Volver a la Página Principal</a>
            </div>                                        
        </div>
    </div>
</div>
<?php include_once("_footer.html")?>