<?php include_once("_headerAux.html");?>
<div class="container">    
    <div class="section scrollspy">
        <h3><i class="medium material-icons prefix">list</i> Formulario</h3>
        <blockquote>En caso de <strong>Borrar</strong> un registro es necesario que introduzcas un <strong>Id</strong> que exista, sino la modificación a la base de datos no se aplicará.<br><strong>Nota:</strong> La validación de los datos es realizada directamente en la forma.</blockquote>
        <div class="section">
            <div class="row">
                <form action="L12_controller.php" method="POST" class="col l12">
                    <div class="input-field col l4">
                        <input type="number" name="id" min="0" max="99" required>
                        <label>Id</label>
                    </div>
                    <div class="input-field col l4">
                        <input type="text" name="nombre" disabled value="" maxlength="20">
                        <label>Nombre</label>
                    </div>
                    <div class="input-field col l4">
                        <input type="text" name="tipo" disabled value="" maxlength="20">
                        <label>Tipo</label>
                    </div>
                    <div class="input-field col l4">
                        <input type="number" name="cantidad" disabled value="" min="0" max="9999">
                        <label>Cantidad</label>
                    </div>
                    <div class="input-field col l4">
                        <input type="number" name="precio" disabled value="" min="0" max="500">
                        <label>Precio (kg)</label>
                    </div>
                    <div class="input-field col l4">
                        <input type="text" name="pais" disabled value="" maxlength="20">
                        <label>País</label>
                    </div>
                    <div class="col l4">
                        <br>
                        <button type="submit" class="btn waves-effect waves-light" name="submit">Enviar
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="col l4">
                        <br>
                        <button type="reset" class="btn waves-effect waves-light" name="reset">Borrar
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="col l4">
                        <br>
                        <a href="index.php" class="waves-effect waves-light btn"><i class="material-icons left">thumb_down</i>Cancelar</a>       
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>
<?php include_once("_footer.html"); ?>