<form action="L12_controller.php" method="POST" class="center-align">
    <div class="row">
        <div class="col l3">
            <input type="radio" class="with-gap" name="function" value="insert" id="insert"/>
            <label for="insert">Insertar un Registro</label>
        </div>
        <div class="col l3">                
            <input type="radio" class="with-gap" name="function" value="update" id="update"/>
            <label for="update">Actualizar un Registro</label>
        </div>
        <div class="col l3">
            <input type="radio" class="with-gap" name="function" value="delete" id="delete"/>
            <label for="delete">Borrar un Registro</label>
        </div>
        <div class="col l3">
            <button class="btn waves-effect waves-light" type="submit" name="submit">Enviar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</form>