<?php require_once('L12_util.php'); ?>
<?php include('_header.html'); ?>
<div class="container">    
    <div class="section scrollspy">        
        <div class="section">
            <h4><i class="small material-icons prefix">view_headline</i> Registros de la Base de Datos</h4>
            <blockquote>La base de datos utilizada fue creada en <strong>MySQL</strong>, tiene el nombre de <strong>Productos</strong> y contiene la tabla <strong>Frutas</strong>.</blockquote>
            <?php getFruits();?>
        </div>
        <div class="section">
            <h5><i class="small material-icons prefix">subject</i> Modificaciones a la Base de Datos</h5>
            <blockquote>Selecciona la opción deseada y presiona <strong>Enviar</strong>:</blockquote>
            <?php include('_formFunciones.html'); ?>
        </div>
    </div>
</div>
<?php include('_footer.html'); ?>