<form id="formBusqueda">
    <div class="row">
        <div class="input-field">
          <input type="text" class="validate" name="fruta" id="fruta" onkeyup="showHint()" maxlength="10">
          <label for="fruta">Nombre</label>
        </div>
        <div id="hint"></div>
        <div>
            <button class="btn waves-effect waves-light" type="submit" name="submit">Buscar
                <i class="material-icons right">send</i>                
            </button>
            <button class="btn waves-effect waves-light" type="button" id="replay">
                <i class="material-icons">replay</i>
            </button>
        </div>
    </div>
</form>