<?php require_once('L13_model.php'); ?>
<?php include('_header.html'); ?>

<div class="row">
    <div class="section col l9 offset-l1">
        <h4><i class="small material-icons prefix">subject</i> Registros de la Base de Datos</h4>
        <blockquote>La base de datos utilizada fue creada en <strong>MySQL</strong>, tiene el nombre de <strong>Productos</strong> y contiene la tabla <strong>Frutas</strong>.</blockquote>
        <div id="resFruta" >
            <?php getAllFruits();?>
        </div>
    </div>
    <div class="section col l2" id="busqueda">
        <h5><i class="small material-icons prefix">search</i> Búsqueda</h5>
        <?php include('_formBusqueda.html'); ?>
    </div>
</div>

<?php include('_footer.html'); ?>