        </main>
        <footer class="page-footer">
            <div class="footer-copyright">
                <center>&copy; Allan Uriel Rodríguez Godínez | A01205325</center>
            </div>
        </footer>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMdUYNryqZ8RBQVIq2TFgqjato7QNFR-E&signed_in=true&libraries=places&callback=initMap"
        async defer></script>
        <script type = "text/javascript" src="L23_javaScript.js"></script>
    </body>
</html>