<?php include_once("_header.html"); ?>
<div class="container">
    <div class="section">
        <h4>Google Maps API</h4>
        <blockquote>A continuación se presenta la integración y utilización del <strong>Google Maps API</strong>, con la cual puedes dirigirte a una cierta ubicación introduciendo el <em>nombre del lugar</em> en el campo de búsqueda.</blockquote><br>
        <input id="pac-input" class="controls" type="text" placeholder="Introduce una Ubicación">
        <div id="googleMap"></div>
    </div>
</div>
<?php include_once("_footer.html"); ?>