/*html {
    background-color: rgba(191, 191, 191, 1);
}

body {
    margin: auto;
    padding: 4em;
    max-width: 1100px;
    font-family: "Times New Roman", sans-serif;
    background-color: rgba(241, 241, 241, 1);
}

h1, h2, h3 {
    color: maroon;
    font-weight: bold;
    line-height: 1.5em;
}

footer {
    color: black;
    font-size: 18px;
    line-height: 1.5em;
	font-style: italic;
	text-align: right;
	padding: 1em;
	max-width: 100%;
	width: 60em;
	background-color: rgba(182, 182, 182, 1);
}*/

img {
    /*border: 10px solid rgb(140, 198, 255);*/
    display: block;
	padding: 2px;
    margin: auto;
}

table, th, td {
    border-style: solid;
	border-width: 1px;
	border-color: navy;
	margin: auto;
}

th, td {
    padding: 4px;
	text-align: center;
	font-size: 17px;
}

.table tr:nth-child(even) {
    background-color: hsla(36, 60%, 70%, 0.3);
}

.table tr:nth-child(odd) {
   background-color:#fff;
}

.table th {
    background-color: black;
    color: orange;
}

/* Class Selector */

p.styleText1 {
    color: black;
    font-size: 18px;
    line-height: 1.5em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

p.styleText2 {
    color: black;
    font-size: 17px;
    line-height: 1.5em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
	text-align: center;
}

p.styleText3 {
    color: darkmagenta;
    font-size: 20px;
    line-height: 1em;
    padding-bottom: 0em;
    padding-top: 0em;
	text-align: center;
}

form.styleText1 {
    color: black;
    font-size: 18px;
    line-height: 1.5em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

dd.styleText {
    color: black;
    font-size: 17px;
    line-height: 1.5em;
    padding-bottom: 0.7em;
    padding-top: 0.5em;
    list-style-type: upper-roman;
}

ul.styleText {
	color: black;
    font-size: 18px;
    line-height: 1.5em;
    padding-bottom: 0.7em;
    padding-top: 0.5em;
	margin-left: 25px;
    list-style-type: upper-roman;
}

figcaption.imageText {
	font-size: 13pt;
    color: rgb(147, 32, 223);
    line-height: 1.5em;
    font-style: oblique;
    text-align: center;
}

/* Generic Selectors */

.styleQuestion {
    font-size: 14pt;
    color: black;
    font-style: normal;
}

.styleWord {
    font-size: 14pt;
    color: black;
    font-weight: bold;
    text-align: left;
}

.styleInternalLink {
    font-size: 13pt;
    color: dodgerblue;
	padding-left: 20px;
	padding-right 20px: 
}

.circularImg {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.alignAuto {
	padding-top: 10px;
	padding-bottom: 10px;
    padding-left: 420px;
}

.watermark {
	position:absolute;
 	bottom:-90px;
 	left: 1px;
 	right: 1px; 
 	opacity:0.1;
 	z-index:auto;		
}

.watermarkCorner {
 	position:fixed;
 	bottom:0px;
 	right:30px;
 	opacity:0.8;
 	z-index:1;
}

.infoBlock { 
	position:absolute;
	left: 800px;
	bottom: auto;
    border:1px solid black;
    width:200px;
    height:60px;
    background-color: burlywood;	
}

/* Id Selectors */

#symbol1 {
    list-style-type: armenian;
}

#symbol2 {
    list-style-type: circle;
}

#symbol3 {
    list-style-type: lower-greek;
}

#dragDropSpaceOne {
	float:left; 
	width:160px; 
	height:160px; 
	margin:5px;
	padding:5px;
	margin-right: 250px;
	border:1px solid black;
}

#dragDropSpaceTwo {
	float:left; 
	width:160px; 
	height:160px; 
	margin:5px;
	padding:5px;
	margin-right: 250px;
	border:1px solid black;
}

#dragDropSpaceThree {
	float:left; 
	width:160px;
	height:160px; 
	margin:5px;
	padding:5px;
	border:1px solid black;
}

#progresoBarra {
  width: 100%;
  height: 20px;
  position: relative;
  border: 1px solid rgba(191, 191, 191, 1);
}
#Barra {
  width: 1px;
  height: 100%;
  position: absolute;
  background-color: #F6CEA4;
}

/*Universal Selectors*/

* {
    text-align: justify;
}

/* Botones Extra */

.newButton {
   border-top: 1px solid #e3c89a;
   background: #a19267;
   background: -webkit-gradient(linear, left top, left bottom, from(#eddbb0), to(#a19267));
   background: -webkit-linear-gradient(top, #eddbb0, #a19267);
   background: -moz-linear-gradient(top, #eddbb0, #a19267);
   background: -ms-linear-gradient(top, #eddbb0, #a19267);
   background: -o-linear-gradient(top, #eddbb0, #a19267);
   padding: 8px 16px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 13px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
}

.newButton:hover {
   border-top-color: #a88b3b;
   background: #a88b3b;
   color: #ffffff;
}

.newButton:active {
   border-top-color: #e8b90e;
   background: #e8b90e;
}

.newButton2 {
    background-color: #6EBCC6;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: auto;
    cursor: pointer;
	border-radius: 50%;
}

.newButton3 {
    background-color: #F6CEA4;
    border: none;
    color: #666666;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: auto;
    cursor: pointer;
	border-radius: 12px;
}

/* Sidebar */

#sidebar {
	padding: 1.6em;
	background: rgba(191, 191, 191, 1);
	cursor: default;
	height: 100vh;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	text-align: right;
	top: 0;
	width: 18em;
	z-index: 10000;
}

/*rgba(176,176,176,1),rgba(241,241,241,1);#9FDBE2;#6EBCC6;#F6CEA4;*/

#sidebar > .inner {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-moz-transition: opacity 1s ease;
	-webkit-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	transition: opacity 1s ease;
	min-height: 100%;
	opacity: 1;
	width: 100%;
}

#sidebar nav > ul {
	list-style: none;
	padding: 0;
}

#sidebar nav > ul > li {
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-moz-transition: opacity 0.15s ease, -moz-transform 0.75s ease;
	-webkit-transition: opacity 0.15s ease, -webkit-transform 0.75s ease;
	-ms-transition: opacity 0.15s ease, -ms-transform 0.75s ease;
	transition: opacity 0.15s ease, transform 0.75s ease;
	margin: 2.5em 0 0 0;
	opacity: 1;
	padding: 0;
	position: relative;
}

#sidebar nav a {
	-moz-transition: color 0.2s ease;
	-webkit-transition: color 0.2s ease;
	-ms-transition: color 0.2s ease;
	transition: color 0.2s ease;
	border: 0;
	color: maroon;
	display: block;
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0.25em;
	line-height: 1.75;
	outline: 0;
	padding: 1.35em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}

#sidebar nav a:before, #sidebar nav a:after {
	border-radius: 0.2em;
	bottom: 0;
	content: '';
	height: 0.1em;
	position: absolute;
	right: 0;
	width: 100%;
}

#sidebar nav a:before {
	background: rgba(18, 153, 170, 1);
}

#sidebar nav a:hover {
	color: rgba(255, 255, 255, 1);
}

#sidebar nav a.active {
	color: maroon;
}

#sidebar nav a.active:after {
	max-width: 100%;
}